<meta charset="UTF-8" />
<title>@@title - Digital Menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Menu दो" />
<meta name="keywords" content="software development, restaurant, digital menu, QR menu" />
<meta name="author" content="AaradhyaIT" />
<meta name="website" content="https://menudo.in" />
<meta name="email" content="support@menudo.in" />
<meta name="version" content="1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/fav-icon.png" />